@model MUSICNOW.Core.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Mật Khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3" style="margin-top: 50px;">
        <h2>@ViewBag.Title</h2>
        <p>Một mã OTP đã được gửi đến email <strong>@Model.Email</strong>. Vui lòng kiểm tra và nhập vào bên dưới.</p>
        <hr />

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @* Gửi email theo form để POST lại *@
            @Html.HiddenFor(m => m.Email)

            <div class="form-group mb-3">
                @Html.LabelFor(m => m.Otp, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Otp, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Otp, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-3">
                @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Đặt lại mật khẩu" class="btn btn-warning" />
            </div>
        }
    </div>
</div>